body {
    background-color: #c083d7;
}

table {
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    box-shadow: 0 0 27px #83d7e2;
    border-collapse: collapse;
}

table td {
    padding: 20px 20px;
    text-align: center;
    color: white;
    font-weight: 100;
}

.headings {
    color: #83d7e2;
    padding-top: 1rem;
}

.centredCryptoDiv {
   width: 100%;
   height: 100vh;
}

.centredCryptoDivInner {
    margin-top: 40vh;
}